
<div class="row">
  <h1>Gruppe anlegen</h1>
  <input [(ngModel)]="newGroup.title" class="form-control mb-2" type="text"
         placeholder="Title" aria-label="Title">
  <input [(ngModel)]="newGroup.description" class="form-control mb-2" type="text"
         placeholder="Description" aria-label="Description">
  <button class="btn btn-primary" (click)="createNewGroup()">Create</button>
</div>

<div class="row">
  <h1>Trainer anlegen</h1> 
  <button class="btn btn-primary" (click)="createTrainer()">Create</button>

</div>
