<div class="row">
  <div class="col">
    <div class="table-responsive rounded shadow my-3 p-3">
      <h2>Gruppenmitglieder</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of users let i = index">
            <th scope="row">{{i}}</th>
            <td>{{member.user.firstName}}</td>
            <td>{{member.user.lastName}}</td>
            <td>{{member.user.email}}</td>
            <td>{{getRole(member.isTrainer)}}</td>
            <td *ngIf="!member.isTrainer"><button class="btn btn-outline-primary" (click)="delete(member.user)">X</button></td>
          </tr>
        </tbody>
      </table>
      <!-- Add new User -->
      <div class="col-auto">
        <button type="button" class="btn btn-primary m-3" (click)="AddUserisCollapsed = !AddUserisCollapsed"
                [attr.aria-expanded]="!AddUserisCollapsed" aria-controls="addUserCollapse">
          Add User
        </button>
        <div id="addUserCollapse" [ngbCollapse]="AddUserisCollapsed">
          <div class="card w-100">
            <div class="card-body">
              <p>UserName besteht aus Vorname und Nachname ohne Leerzeichen eingeben</p>
              <div class="row">
                <div class="col-auto">
                  <input [(ngModel)]="searchedUserName" class="form-control mb-2" type="text"
                         placeholder="voller Name" aria-label="Name">
                </div>
                <div class="col-auto">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="registerRoleDropdown"
                            ngbDropdownToggle>
                      {{getRole(searchedUserisTrainer)}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="registerRoleDropdown">
                      <button ngbDropdownItem
                              (click)="searchedUserisTrainer = true">
                        Trainer
                      </button>
                      <button ngbDropdownItem
                              (click)="searchedUserisTrainer = false">
                        Athlete
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <button class="btn btn-primary" (click)="searchForUser()">
                    Search and
                    Add
                  </button>
                </div>
              </div>
              <div class="row border-top">
                <div class="col-auto my-4">Oder neuen Benutzer registrieren:</div>
                <div class="col-auto">
                  <button type="button" class="btn btn-secondary m-3"
                          (click)="RegisterisCollapsed = !RegisterisCollapsed"
                          [attr.aria-expanded]="!RegisterisCollapsed" aria-controls="registerCollapse">
                    Register New
                  </button>
                  <div id="registerCollapse" [ngbCollapse]="RegisterisCollapsed">
                    <div class="">
                      <div class="my-3">
                        <app-registration-page *ngIf="!RegisterisCollapsed"
                                               [(user)]="newRegistrationUser"
                                               (userFound)="userFound($event,newRegistrationUser.isTrainer)">
                        </app-registration-page>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary mt-3" (click)="back()">Back</button>
  </div>
  <!--<div class="col">
    <div class="row">
      <app-group-info class="col" [(group)]="group"></app-group-info>
    </div>
    <div class="row">
      <div class="col">
        <div class="rounded shadow p-3">
          <h2>Serientermine festlegen</h2>
          <app-weekly-shedule [(day)]="week.monday" [title]="'Montag'"></app-weekly-shedule>
          <app-weekly-shedule [(day)]="week.tuesday" [title]="'Dienstag'"></app-weekly-shedule>
          <app-weekly-shedule [(day)]="week.wednesday" [title]="'Mittwoch'"></app-weekly-shedule>
          <app-weekly-shedule [(day)]="week.thursday" [title]="'Donnerstag'"></app-weekly-shedule>
          <app-weekly-shedule [(day)]="week.friday" [title]="'Freitag'"></app-weekly-shedule>
          <app-weekly-shedule [(day)]="week.saturday" [title]="'Samstag'"></app-weekly-shedule>
          <app-weekly-shedule [(day)]="week.sunday" [title]="'Sonntag'"></app-weekly-shedule>
          <button class="btn btn-primary" (click)="saveAppointments()">Save</button>
        </div>
      </div>
    </div>
  </div>-->
</div>
