<app-calender-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="getAllAppointments($event)"
                     (viewChange)="getAllAppointments(viewDate)">
</app-calender-header>

<ng-template #loading>
  <div class="text-center">
    <i class="fas fa-spin fa-spinner fa-5x"></i> <br />
    <h2>Loading...</h2>
    <img src="running-man.gif" />
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                             [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                             (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
                            (eventClicked)="eventClicked($event.event)" [eventTitleTemplate]="weekTitleTemplate"
                            [dayStartHour]="9" [dayEndHour]="21">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
                           (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-day-view>
  </div>
</div>

<button class="btn btn-primary m-3" [routerLink]="['/plan']">Neues Training planen</button>
<button class="btn btn-primary" (click)="this.exitGroup.emit()">Gruppe wählen</button>

<ng-template #weekTitleTemplate let-event="event">
  <div class="scroll-out">
    <h4 class="text-white mb-0">{{event.title}}</h4>
    <span class="text-white" [innerHTML]="event.desc"></span>
  </div>
</ng-template>
