<h1 class="m-3">Moduleverwaltung</h1>
<hr class="mx-5 mt-4">
<div class="container-fluid p-4">
  <div class="row">
    <div class="col-sm-5 my-1">
      <div class="shadow rounded">
        <div class="mx-2 d-flex flex-row">
          <h2 class="p-2">Meine Module</h2>
          <input class="col form-control align-self-center" id="search-text" aria-describedby="search-text"
                 [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Tags</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="hover" *ngFor="let module of trainingsModules | modulefilter: searchText"
                  (click)="selectCurrentModule(module)">
                <th scope="row">{{ module.id }}</th>
                <td>{{ module.title }}</td>
                <td>
                  <div *ngFor="let tag of module.trainingsModulesTrainingsModuleTags">
                    {{tag.trainingsModuleTag.title}}
                  </div>
                </td>
                <td>
                  <button class="btn btn-outline-primary m-1"
                          (click)="deleteTrainingsModule(module)">
                    X
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary m-2" (click)="addModule()">Neues Module</button>
      </div>
    </div>
    <!-- Modul bearbeiten -->
    <div class="col-sm-7 my-1">
      <div class="shadow rounded p-2">
        <div class="row">
          <div class="col-9">
            <h2 *ngIf="currentModuleEdited">Modul bearbeiten</h2>
            <h2 *ngIf="!currentModuleEdited">{{currentModule.title}}</h2>
          </div>
          <div class="col-3">
            <button class="btn btn-primary m-1" [disabled]="currentModuleEdited"
                    (click)="currentModuleEdited = !currentModuleEdited">
              Edit
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input [(ngModel)]="currentModule.title" [disabled]="!currentModuleEdited" type="text" class="form-control" id="floatingtitle" placeholder="Title">
              <label for="floatingtitle">Titel</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <select [(ngModel)]="currentModule.isPublic" [disabled]="!currentModuleEdited" class="form-select" id="PublicSelect" aria-label="Public">
                <option value="true" selected>public</option>
                <option value="false">private</option>
              </select>
              <label for="PublicSelect">Sichtbarkeit</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <select [(ngModel)]="currentModule.difficulty" [disabled]="!currentModuleEdited" class="form-select" id="schwierigkeitSelect" aria-label="Public">
                <option value="0" selected>Unbekannt</option>
                <option value="10">Leicht</option>
                <option value="20">Mittel</option>
                <option value="30">Schwer</option>
                <option value="40">Unmöglich</option>
              </select>
              <label for="schwierigkeitSelect">Komplexität</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <textarea [(ngModel)]="currentModule.description" [disabled]="!currentModuleEdited" class="form-control" placeholder="Beschreibung" id="descriptionArea" style="height: 100px"></textarea>
              <label for="descriptionArea">Beschreibung</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6" *ngFor="let tag of currentModule.trainingsModulesTrainingsModuleTags; let i = index">
            <div class="input-group mb-3">
              <input type="text"
                     class="form-control"
                     [(ngModel)]="tag.trainingsModuleTag.title"
                     [disabled]="true"/>
              <span class="input-group-text" id="basic-addon2" (click)="deleteTag(tag.trainingsModuleTag)">X</span>
            </div>
          </div>
          <div class="col-6">
            <div class="input-group mb-3">
              <input id="typeahead-focus"
                     type="text"
                     class="form-control"
                     [(ngModel)]="newTag.title"
                     [ngbTypeahead]="search"
                     (focus)="focus$.next($any($event).target.value)"
                     (click)="click$.next($any($event).target.value)"
                     [disabled]="!currentModuleEdited"
                     #instance="ngbTypeahead" />
              <span class="input-group-text" id="basic-addon2" (click)="addTag()">Add Tag</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-create-exercise-module class="m-4"
                                        *ngFor="let exercise of currentModule.trainingsModulesTrainingsExercises"
                                        [(exercise)]="exercise.trainingsExercise" [(currentModuleEdited)]="currentModuleEdited"
                                        (deleteExercise)="deleteExercise($event)">
            </app-create-exercise-module>
            <hr />
            <button class="btn btn-primary m-1" [disabled]="!currentModuleEdited" (click)="addExercise()">
              Neue
              Exercise
            </button>
            <button class="btn btn-primary m-1" [disabled]="!currentModuleEdited"
                    (click)="saveModule()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
