<div class="card mb-5 border rounded shadow">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <h1>{{currentTraining.title}}</h1>
      </div>
      <div class="col-auto" *ngIf="hasAccess | async">
        <button class="btn btn-primary" (click)="edit()">Edit</button>
        <button class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <a>{{currentTraining.description}}</a>
  </div>
  <div *ngFor="let ttm of currentTraining.trainingsAppointmentsTrainingsModules">
      <app-display-module [module]="ttm.trainingsModule"></app-display-module>
  </div>
</div>
