<div class="" *ngIf="myModules">
  <div class="rounded shadow p-3 my-3">
    <div class="row">
      <div class="col-12">
        <div class="form-floating mb-3 mr-4">
          <input [(ngModel)]="training.title" type="text" class="form-control" id="floatingtitle2" placeholder="Title">
          <label for="floatingtitle2">Titel</label>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-floating mb-3">
            <select [(ngModel)]="training.difficulty" class="form-select" id="schwierigkeitSelect2" aria-label="Public">
              <option value="0" selected>Unbekannt</option>
              <option value="10">Leicht</option>
              <option value="20">Mittel</option>
              <option value="30">Schwer</option>
              <option value="40">Unmöglich</option>
            </select>
            <label for="schwierigkeitSelect2">Komplexität</label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-floating mb-3">
            <select [(ngModel)]="training.trainingsGroupId" class="form-select" id="schwierigkeitSelect2" aria-label="Public">
              <option *ngFor="let group of groups" value="{{group.id}}" selected>{{group.title}}</option>
            </select>
            <label for="schwierigkeitSelect2">Gruppe</label>
          </div>
        </div>
        <div class="col-auto">
          <div class="my-2">Von</div>
        </div>
        <div class="col-5">
          <input #fromTime [(ngModel)]="training.startTime" class="form-control mb-2" type="datetime-local">
        </div>
        <div class="col-5">
          <div class="input-group mb-3">
            <input type="text"  [(ngModel)]="trainingsduration" class="form-control" placeholder="Dauer" aria-label="Dauer" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Minuten</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col my-1">
          <div class="form-floating mb-3">
            <textarea [(ngModel)]="training.description" class="form-control" placeholder="Beschreibung" id="descriptionArea2" style="height: 100px"></textarea>
            <label for="descriptionArea2">Beschreibung</label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Drag and Drop -->
  <div cdkDropListGroup>
    <div class="row">
      <div class="col">
        <div class="rounded shadow p-3 my-3">
          <h2 class="m-3">Ausgewählte Module</h2>
          <div cdkDropList [cdkDropListData]="selectedModules" (cdkDropListDropped)="drop($event)">
            <p *ngIf="selectedModules.length == 0" class="m-1 text-info">drop modules here</p>
            <app-draggable-trainings-module cdkDrag *ngFor="let item of selectedModules" [module]="item">
            </app-draggable-trainings-module>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="rounded shadow p-3 my-3">
          <div class="row">
            <h2 class="col">Meine Module</h2>
            <div class="col">
              <div class="form-floating mb-3">
                <select [(ngModel)]="showOwnModules" (change)="valueChange($event)" class="form-select" id="PublicSelect" aria-label="Public">
                  <option value="true" selected>Eigene Module</option>
                  <option value="false">Followed Module</option>
                </select>
                <label for="PublicSelect">Anzeige</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <input class="col form-control" id="search-text" aria-describedby="search-text"
                     [(ngModel)]="searchText" placeholder="Suche" autofocus>
            </div>
          </div>
          <div cdkDropList [cdkDropListData]="myModules | modulefilter: searchText" class="" (cdkDropListDropped)="drop($event)">
            <p *ngIf="myModules.length == 0" class="m-1 text-info">drop modules here</p>
            <app-draggable-trainings-module cdkDrag *ngFor="let item of myModules | modulefilter: searchText"
                                            [module]="item">
            </app-draggable-trainings-module>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary mb-3" (click)="saveTraining()">Save Training</button>
    </div>
  </div>
</div>

