<div class="row">
  <div class="col-sm-5">
    <div class="p-3 rounded shadow my-2 table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Tags</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover" *ngFor="let module of trainingsModules | modulefilter: searchText"
              (click)="selectCurrentModule(module)">
            <td>{{ module.title }}</td>
            <td>
              <div *ngFor="let tag of module.trainingsModulesTrainingsModuleTags">
                {{tag.trainingsModuleTag.title}}
              </div>
            </td>
            <td>
              <div *ngIf="module.user">{{module.user.firstName}} {{module.user.lastName}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-7">
    <div>
      <app-display-module [module]="selectedModule" [followEnabled]="true"></app-display-module>
    </div>
  </div>
</div>

